@import "tailwindcss";

:root {
  --font-play: "Play", Arial, sans-serif;
  --font-poppins: "Poppins", Arial, sans-serif;
}

body {
  font-family: var(--font-play);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-poppins);
}